.rbam {
    --container-background: oklch(0.95 0 0);
    --contaier-border: 1px solid var(--contaier-border-colour);
    --contaier-border-colour: oklch(0.845 0 0);

    --disabled-background: oklch(0.95 0 0);
    --read-only-background: var(--disabled-background);

    --even-row-background: oklch(0.95 0 0);

    --overlay: oklch(0.321 0 0 / 0.5);
    --inset: inset 2px 2px 6px oklch(0.738 0 0);
    --shadow: 5px 5px 15px oklch(0.738 0 0);
    --shadow-dark: 5px 5px 15px oklch(0.321 0 0);

    --yii-blue: oklch(0.7156 0.1136 224.1826);
    --yii-blue-light: oklch(0.99 0.1136 224.1826);
    --yii-green: oklch(0.759 0.19 131.803);
    --yii-green-light: oklch(0.99 0.19 131.803);
    --yii-orange: oklch(0.7285 0.1622 57.4256);
    --yii-red: oklch(0.638 0.212 32.357);
    --yii-red-light: oklch(0.9 0.1012 32.357);
    --yii-red-dark: oklch(0.4377 0.1632 32.36);

    box-sizing: border-box;
    font-family: "trebuchet ms", verdana, arial, sans-serif;

    button {
        border: none;
    }

    &.header {
        display: flex;
        justify-content: space-between;

        .header-menu {
            position: relative;

            .btn_menu {
                background: none;
                border: none;
                cursor: pointer;
                justify-items: center;
                position: relative;
            }
            svg {
                height: 2rem;
                width: 2rem;
            }

            ul {
                background: var(--container-background);
                border: var(--contaier-border);
                border-radius: 0.25rem;
                box-shadow: var(--shadow);
                position: absolute;
                top: 1rem;
                right: 0;
                white-space: nowrap;

                li {
                    cursor: pointer;
                    list-style: none;
                    padding: 0.5rem;
                }
            }
        }
    }

    .breadcrumb {
        display: flex;
        font-size: 0.75rem;
        justify-content: left;
        line-height: 1.8;
        list-style: none;
        padding: 0;

        li {
            padding: 0.5em 1em;
            position: relative;

            &:first-child {
                padding-left: 0;
            }

            &:after {
                content: '::';
                left: 1em;
                position: relative;
            }

            a {
                color: black;
                text-decoration: none;

                &:hover {
                    color: var(--yii-blue);
                }
            }

            &:last-child {
                &:after {
                    content: '';
                }

                a:hover {
                    color: black;
                }
            }
        }
    }

    .btn {
        align-items: center;
        border-radius: 0.5rem;
        color: aliceblue;
        cursor: pointer;
        display: inline-flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        font-size: 0.875rem;
        font-weight: 600;
        height: 3rem;
        justify-content: center;
        line-height: 1em;
        margin-right: 1.5em;
        min-height: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: center;
        text-decoration-line: none;
        user-select: none;

        &.btn_cancel,
        &.btn_clear,
        &.btn_remove,
        &.btn_remove-all,
        &.btn_revoke,
        &.btn_revoke-all {
            background: var(--yii-red);
        }

        &.btn_manage,
        &.btn_translate,
        &.btn_update,
        &.btn_view {
            background: var(--yii-blue);
        }

        &.btn_add,
        &.btn_assign,
        &.btn_continue,
        &.btn_create,
        &.btn_done,
        &.btn_grant,
        &.btn_submit {
            background: var(--yii-green);
        }

        &[disabled] {
            background: oklch(0.75 0 0);
            color: oklch(0.85 0 0);
            cursor: default;

            &:hover {
                box-shadow: 0 0 0 transparent;
                color: oklch(0.85 0 0);
                transform: scale(1);
            }
        }

        &:hover {
            box-shadow: 2px 2px 5px #aaaaaa;
            color: white;
            transform: scale(1.02);
        }
    }

    .node {
        filter: drop-shadow(5px 5px 7px oklch(0.738 0 0));
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3.33em;

        .card {
            background: var(--container-background);
            border: var(--contaier-border);
            border-radius: 1rem;
            box-shadow: var(--shadow);

            .card-header {
                font-size: 1.333rem;
                font-weight: bold;
                margin: 1.5rem auto;
                text-align: center;

                > span {
                    position: relative;
                }

                .badge {
                    align-items: center;
                    background: var(--yii-green);
                    border-radius: 2rem;
                    box-shadow: var(--inset);
                    color: oklch(0.95 0 0);
                    display: inline-flex;
                    font-size: 0.875rem;
                    height: 1.25rem;
                    justify-content: center;
                    line-height: 1.25rem;
                    margin-left: 1.25rem;
                    padding-left: 0.563rem;
                    padding-right: 0.563rem;
                    position: absolute;
                    right: -3.33em;
                    width: fit-content;
                }
            }

            .card-body {
                padding: 1.5rem 0.75rem;
                text-align: center;
            }
        }
    }

    .danger {
        background-color: var(--yii-red);
        color: aliceblue;
        font-size: 1.5rem;
        font-weight: bolder;
        padding: 0.75rem 1.5rem;
        margin: 1.5rem auto;
    }

    .detail-view {
        .header {
            font-size: 1.666rem;
            font-weight: 800;
            margin-bottom: 1.5rem;
        }

        dl {
            border: var(--contaier-border);
            column-gap: 0;
            display: grid;
            grid-template-columns: auto 1fr;
        }

        dd,
        dt {
            margin: 0;
            padding: 0.5rem 1rem;
        }

        dt {
            font-weight: 800;
        }

        dd:nth-child(4n),
        dt:nth-child(4n-1) {
            background-color: var(--even-row-background);
        }
    }

    .diagram {
        margin-top: 7.5em;
    }

    .flex {
        display: flex;
    }

    form {
        background: var(--container-background);
        border: var(--contaier-border);
        border-radius: 0.375rem;
        padding: 1rem 1.5rem;
        width: 50%;

        div[role="region"] {
            border-bottom: 1px dashed var(--contaier-border-colour);
            margin-bottom: 0.75rem;

            &:nth-last-child(2) {
                border-bottom: none;
                margin-bottom: 0;
            }
        }

        fieldset {
            border: none;
        }

        legend[aria-expanded] {
            cursor: pointer;
            font-weight: bold;
            width: 100%;

            span[x-show] {
                font-size: 1.25rem;
            }
        }

        .form-error {
            background: var(--yii-red-light);
            border-radius: 0.5rem;
            color: var(--yii-red-dark);
            padding: 0.5rem 1rem;
        }
    }

    .form-buttons {
        border-top: var(--contaier-border);
        display: flex;
        justify-content: space-around;
        padding: 1.5rem 3rem;
    }

    .form-control-container {
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.75rem 0.75rem;
        position: relative;
        width: 100%;

        .form-label {
            color: oklch(0 0 0);
            display: block;
            font-size: 0.875rem;
            font-weight: 800;
            line-height: 1.5rem;
            text-align: left;
        }

        .form-input-container {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &.code {
                align-items: start;
                flex-direction: column;

                .form-input {
                    width: 90%;
                }
            }
        }

        .form-hint {
            transition: opacity 0.5s;
            opacity: 0;
        }

        .form-input {
            background-color: var(--yii-blue-light);
            border: 2px solid transparent;
            border-radius: 0.5rem;
            color: oklch(0.333 0 0);
            margin-bottom: 0.25rem;
            margin-right: 0.75rem;
            outline: none;
            padding: 0.5rem 1rem;
            width: 100%;

            &:disabled {
                background-color: var(--disabled-background);
            }

            &:focus {
                border-bottom: 2px solid var(--yii-blue);
            }

            &[type="text"]:read-only {
                background-color: var(--read-only-background);
            }

            &:user-invalid, &.invalid {
                background-color: var(--yii-red-light);

                + span::before {
                    content: "✖";
                    color: var(--yii-red);
                }

                &:focus {
                    border-bottom: 2px solid var(--yii-red);
                }
            }

            &:user-valid, &.valid {
                background-color: var(--yii-green-light);

                + span::before {
                    content: "✓";
                    color: var(--yii-green);
                }

                &:focus {
                    border-bottom: 2px solid var(--yii-green);
                }
            }
        }

        &.disabled {
            .form-input,
            .form-label {
                color: oklch(0.5 0 0);
            }
        }

        &:hover {
            .form-hint {
                opacity: 1;
            }
        }
    }

    .grid-view {
        margin-bottom: 3em;

        .header {
            font-size: 1.666rem;
            font-weight: 600;
            margin: 0.375rem 0;
        }

        .toolbar {
            margin: 0.375rem 0;
        }

        nav a {
            align-items: center;
            background: var(--yii-blue);
            display: inline-flex;
            border: 1px solid var(--yii-blue);
            border-radius: 50%;
            color: oklch(0.95 0 0);
            font-weight: bold;
            height: 2em;
            justify-content: center;
            margin: 1em 0.25em 1em 0;
            text-decoration: none;
            width: 2em;

            &:hover {
                background: var(--yii-green);
                border: 1px solid var(--yii-green);
            }
        }
    }

    .grid {
        border: var(--contaier-border);
        border-collapse: collapse;
        border-spacing: 0;

        .action {
            align-items: center;
            display: inline-flex;
            justify-content: flex-start;
        }

        .btn {
            height: 1.75rem;
            margin: 0 0.57em;
            min-height: 1.75rem;
            line-height: 0.75em;
        }

        td,
        th {
            padding: 0.375rem 0.75rem;
        }

        thead {
            background-color: oklch(0 0 0);
            color: oklch(1 0 0);
        }

        tbody {
            tr {
                &:nth-child(even) {
                    background-color: var(--even-row-background);
                }

                td:first-child {
                    position: relative;

                    &::after {
                        align-items: center;
                        border-radius: 100%;
                        color: aliceblue;
                        display: inline-flex;
                        font-size: 1rem;
                        height: 1rem;
                        justify-content: center;
                        margin-left: 0.5rem;
                        width: 1rem;
                    }

                    &.default::after {
                        background-color: var(--yii-green);
                        content: '\02200'; /* for all */
                    }
                    &.guest::after {
                        background-color: var(--yii-blue);
                        content: '\02205'; /* empty */
                    }
                    &.rbam::after {
                        background-color: var(--yii-red);
                        content: '\02202'; /* part */
                    }
                }
            }
        }
    }

    .indirect {
        color: oklch(0.5 0 0);
    }

    .justify-between {
        justify-content: space-between;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

    .mermaid {
        text-align: center;
    }

    .number {
        text-align: right;
    }

    svg {
        display: block;
    }

    .border-t {
        border-top: var(--contaier-border);
    }

    .mt-1 {
        margin-top: 1rem;
    }

    .pt-1 {
        padding-top: 1rem;
    }

    .sr-only {
        position: absolute;
        left: -10000px;
        width: 1px;
        height: 1px;
        top: auto;
        overflow: hidden;
    }
}